<section class = "flex snorlax-head">
    <h2>
        <img src = "/favicon.png">
        <a href = "/" class = "silent">Snorlax</a>
    </h2>
    <a href = "/manage" class = "pad-left">Manage</a>
</section>
<hr>