<section class = "flex snorlax-head">
    <h2>
        <img src = "/favicon.png">
        <a href = "/" class = "silent">Snorlax</a>
    </h2>
    <a href = "/search" class = "pad-left">Search</a>
    <a href = "/manage">Manage</a>
</section>
<hr>