{% macro paginate(type, filter, limit) %}
    <div
        class = "flex column"
        data-api-type = "{{ type }}"
        data-api-filter = "{{ filter or '' }}"
        data-api-limit = "{{ limit or 8 }}"
    >
        <div class = "flex item-list">Loading...</div>
        <article class = "flex" style = "width: 100%; justify-content: center;">
            <div>
                <button class = "btn-back">&lt; Back</button>
                <span>Page 1 / 1</span>
                <button class = "btn-next">Next &gt;</button>
            </div>
        </article>
    </div>
{% endmacro %}
