{% extends "main.jinja2" %}
{% from "macros/paginate.jinja2" import paginate %}

{% block content %}
    <div>
        <h2>{{ channel["name"] }}</h2>
        <span style = "line-height: 2;">{{ "{:,}".format(channel["subscribers"]) }} subscribers</span>
    </div>
    <hr>
    {{ paginate("video", "channel_id=" ~ channel["id"]) }}
{% endblock %}
