{% extends "main.jinja2" %}
{% from "macros/paginate.jinja2" import paginate %}

{% block content %}
    {% include "macros/header.jinja2" %}
    <section class = "flex column">
        <h2>Channels</h2>
        {{ paginate("/v1/channels", type = "channel", limit = 16) }}
    </section>
    <section class = "flex column">
        <h2>Videos</h2>
        {{ paginate("/v1/videos", type = "video") }}
    </section>
{% endblock %}
