{% extends "main.jinja2" %}
{% from "macros/paginate.jinja2" import paginate %}

{% block content %}
    {% include "macros/header.jinja2" %}

    <h2>Channels</h2>
    {{ paginate("channels", type = "channel", limit = 16) }}

    <h2>Videos</h2>
    {{ paginate("videos", type = "video") }}
{% endblock %}
