{% extends "main.jinja2" %}

{% block content %}
    {% include "macros/header.jinja2" %}
    <section class = "flex column">
        <div class = "flex">
            <h2>Current Jobs</h2>
            <button class = "pad-left" id = "btn-add-job">Add Job</button>
        </div>
    </section>
    <hr>
    <section>
        <div class = "flex column" id = "job-list"></div>
    </section>
{% endblock %}
{% block scripts %}
    <script src = "/js/manage.js" type = "module"></script>
{% endblock %}

