{% extends "main.jinja2" %}
{% from "macros/paginate.jinja2" import paginate %}

{% block content %}
    {% include "macros/header.jinja2" %}
    <main>
        <input type = "text" placeholder = "Search for anything" autocomplete = "off" autofocus>
        <hr>
        <h2>Results</h2>
        {{ paginate("search", type = "video", params = (("query=" ~ query) if query else None)) }}
    </main>
    <script src = "/js/search.js" async defer></script>
{% endblock %}
