{% extends "main.jinja2" %}
{% block content %}
    <h2>404: Not Found</h2>
    <hr>
    <span>No such endpoint exists, or a video could be missing, deleted channel, etc.</span>
    <a href = "/">Click here to head back to the homepage.</a>
{% endblock %}
