{% extends "main.jinja2" %}
{% block content %}
    <div>
        <h2>{{ channel["name"] }}</h2>
        <span style = "line-height: 2;">{{ "{:,}".format(channel["subscribers"]) }} subscribers</span>
    </div>
    <hr>
    <style>
        section {
            gap: 10px;
            display: flex;
        }
        hr {
            border-color: #535353;
        }
        article {
            width: 300px;

            a {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-bottom: 5px;
            }
        }
    </style>
    <section>
        {% for video in videos %}
            <article>
                <a href = "/watch/{{ video['id'] }}">
                    <img src = "/videos/{{ channel['id'] }}/{{ video['id'] }}.webp">
                    <span>{{ video["title"] }}</span>
                </a>
                <span>{{ video["duration_string"] }} • {{ "{:,}".format(video["view_count"]) }} views • {{ video["timestamp"] | naturaltime }}</span>
            </article>
        {% endfor %}
    </section>
{% endblock %}
