* {
    color: #fff;
    margin: 0px;
    font-family: monospace;
}
body, html {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    background: #000;
    padding-top: 55px;
}
main {
    width: 1230px;
    height: fit-content;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
hr {
    border-color: #535353;
}
pre {
    text-wrap: wrap;
}

/* Link styling */
a.silent {
    width: fit-content;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline dashed;
    }
}

/* Button styling */
button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;

    &[disabled] {
        opacity: .6;
        cursor: not-allowed;
    }
}

/* Structuring */
.flex {
    gap: 10px;
    display: flex;
}
.column {
    flex-direction: column;
}

/* Item listings */
.item-list {
    flex-wrap: wrap;

    article {
        width: 300px;
    }
}

.video-poster {
    gap: 5px;
    position: relative;
    margin-bottom: 5px;
}

.duration-string {
    position: absolute;
    right: 0px;
    top: 152px;
    padding: 0px 4px;
    background: #282828bb;
}

/* Manage page */
.pad-left {
    margin-left: auto;
}

/* Snorlax title */
.snorlax-head {
    align-items: center;

    h2 {
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover img {
            rotate: 360deg;
        }
    }

    img {
        image-rendering: pixelated;
        height: 24px;
        transition: rotate 1s ease;
    }
}
