{% extends "main.jinja2" %}
{% block meta %}
    <link rel = "stylesheet" href = "/css/channel.css">
{% endblock %}
{% block content %}
    <div>
        <h2>{{ channel["name"] }}</h2>
        <span style = "line-height: 2;">{{ "{:,}".format(channel["subscribers"]) }} subscribers</span>
    </div>
    <hr>
    <section>
        {% for video in videos %}
            <article>
                <a href = "/watch/{{ video['id'] }}">
                    <img src = "/videos/{{ channel['id'] }}/{{ video['id'] }}.webp">
                    <span>{{ video["title"] }}</span>
                </a>
                <span>{{ video["duration_string"] }} • {{ "{:,}".format(video["view_count"]) }} views • {{ video["timestamp"] | naturaltime }}</span>
            </article>
        {% endfor %}
    </section>
{% endblock %}
