<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8" />
        <meta name = "viewport" value = "width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel = "stylesheet" href = "/css/global.css">
        {% block meta %}{% endblock %}

        <title>snorlax</title>
    </head>
    <body>
        <main>{% block content %}{% endblock %}</main>

        <!-- JS -->
        <script src = "/js/pagination.js" type = "module"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>