<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8" />

        <!-- CSS -->
        <link rel = "stylesheet" href = "/css/global.css">
        {% block meta %}{% endblock %}

        <title>snorlax</title>
    </head>
    <body>
        <main>{% block content %}{% endblock %}</main>
    </body>
</html>